body {
    color: black;
    font-family: courier;
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid rgb(172, 15, 15);
    margin: 0 auto;
}

#container h1{
    font-size:30;
}